// Credenciales de acceso a OpenNebula

variable "opennebula_username" {
  default = "ciber-xx"
}

variable "opennebula_group" {
  default = "ciber-xx"
}

variable "opennebula_token" {
  default = "4b8cf5....................................................c1cb11"
}

// Plantilla de máquina virtual

data "opennebula_templates" "search" {
  name_regex = ".*"
  tags = {
    TAG = "alpine-terraform"
  }
  sort_on = "register_date"
  order   = "ASC" # La más reciente
}

data "opennebula_template" "template" {
  id = data.opennebula_templates.search.templates[0].id
}

// Red virtual

data "opennebula_virtual_network" "network" {
  name = "ciber-xx"
}
